body {
  width: 100%;
  height: 5410px;
  background: #F7F7F9;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Mtoolbar {
  position: sticky;
  top: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #28352f;
  padding: 10px 0;
}

.logo {
  height: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070FF;
  text-decoration: none;
  margin: 0 0 0 24px;
}

.humberger {
  text-decoration: none;
  margin: 0 24px 0 0;
}

.linkmenu {
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #6070FF;
  border-radius: 20px;
  border-bottom-left-radius: 100%;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
  mix-blend-mode: multiply;
  backdrop-filter: blur(10px) saturate(50%);
}

.linkmenu.openmenu {
  width: 100%;
  height: 100vh;
  border-bottom-left-radius: 0;
}

.linkitem {
  margin: 20px;
  text-align: start;
  list-style-type: none;
}

.linkitem a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  position: relative;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  position: absolute;
  height: 604px;
  left: calc(50% - 375px/2);
  top: 92px;
  flex-direction: column;
  background-image: url("images/mobileheadback.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.headline h1 {
  width: 90%;
  height: 150px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172B4D;
}

.headline p {
  width: 90%;
  height: 146px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.headline h3 {
  width: 117px;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 100%;
  height: 2788px;
  top: 718px;
  background: #E5E5E5;
  position: absolute;
}

.cards {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 87%;
  height: 575px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  margin-top: 80px;
}

.mcard1 {
  width: 100%;
}

.mcard1 .one {
  width: 100%;
}

.mcard2 {
  width: 100%;
}

.mcard2 .two {
  width: 100%;
}

.mcard3 {
  width: 100%;
}

.mcard3 .one {
  width: 100%;
}

.mcard4 {
  width: 100%;
}

.mcard4 .eight {
  width: 100%;
  padding-left: 0px;
}

.aboutme {
  width: 100%;
  position: absolute;
  height: 1263px;
  top: 3650px;
  background: #FFFFFF;
}

.aboutme .head {
  width: 100%;
  height: 101px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172B4D;
  margin-top: 120px;
  padding-left: 8.25%;
  padding-right: 8.25%;
} 

.aboutme p {
  width: 87.5%;
  height: 144px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 8.25%;
}

.aboutme h3 {
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
  padding-left: 8.25%;
}

.abouticon {
  padding-left: 8.25%;
}
.aboutbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8.25%;
  padding-top: 20px;
  gap: 10px;
  width: 162px;
  height: 48px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 85%;
  height: 464.15px;
}

.contact-me {
  background: url(./images/Contactme1.png);
  margin-top: 70px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 750px;
  text-align: center;
  color: white;
  margin-right: 50px;
}

.shapes {
  background-image: url(images/contactshapes.png);
  background-repeat: no-repeat;
  background-position: center, right, left;
  background-position-x: 120px;
  background-position-y: -10px;
  margin-left: 30px;
}

.contat {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 20px;
  padding-top: 90px;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
}

.para {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
}

.form1 {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
}

textarea {
  height: 90px;
}

.form {
  border-radius: 5px;
  padding: 20px;
}

.form-button {
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: center, right;
}

.see {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  position: absolute;
  width: 140px;
  height: 48px;
  left: 24px;
  background: #fff;
  border-radius: 8px;
  border: transparent;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  position: absolute;
  width: 140px;
  height: 48px;
  left: 24px;
  border-radius: 8px;
  margin-top: -20px;
}

.active,
.btn:hover {
  background-color: white;
  color: white;
}

.active,
.resume:hover {
  background-color: rgb(26, 68, 206);
  color: rgb(255, 255, 255);
}

.active,
.see:hover {
  background-color: #6070ff;
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
}

.resume:focus {
  background-color: blue;
}

.see:focus {
  background-color: blue;
}

.frame {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  padding: 20px;
  margin-top: 10px;
}

.line {
  width: 134px;
  height: 5px;
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
  margin-left: 120px;
}

@media screen and (min-width: 768px) {
  .humberger {
    display: none;
  }

  .linkmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #28352f;
    font-weight: 600;
    font-size: 10px;
    line-height: 28px;
    top: 40px;
  }

  .headline {
    background: url(images/headerback.png);
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 142px;
    position: absolute;
    width: 100%;
    height: 2694px;
    left: 0px;
    top: 917px;
  }

  .mcard1{
    display: none;
  }

  .dcard1 {
    height: 496px;
    display: flex;
    flex-direction: row;
  }

  .mcard2{
    display: none;
  }
  
  .dcard2 {
    height: 465px;
    display: flex;
    flex-direction: row;
  }

  .mcard3 {
    display: none;
  }

  .dcard3 {
    height: 448px;
    display: flex;
    flex-direction: row;
  }
  .mcard4 {
    display: none;
  }

  .dcard4 {
    height: 448px;
    display: flex;
    flex-direction: row;
  }

  .mobileabout {
    display: none;
  }

  .deskaboutcrd {
    height: 448px;
    display: flex;
    flex-direction: row;
    padding-left: 8.25%;
    margin-top: 50px;
  }

  .contact-me {
    background: url(./images/contactback.png);
    margin-top: 70px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 750px;
    text-align: center;
    color: white;
    margin-right: 50px;
  }
  .shapes {
    background-image: url(images/contactinside.png);
    background-repeat: no-repeat;
    background-position: center, right, left;
    margin-left: 30px;
  }
}